.wantedlist-oper {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.lineheight42 {
	line-height: 42px;
}
.color-blue {
	color: #007aff;
}
.text-underline {
	text-decoration: underline;
}
.copiable {
	-webkit-touch-callout: text; /* iOS Safari */
	-webkit-user-select: text; /* Chrome/Safari/Opera */
	-khtml-user-select: text; /* Konqueror */
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* Non-prefixed version, currently not supported by any browser */
}
